.drag-container{
    height: 2rem;
    width:1.5rem;
    /* background-color: rgb(54, 176, 99); */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
    white-space: nowrap;
    place-items: center;
    
}

.dot{
    background-color: #ffffffa8;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}