.nav-bar {
  height: 40%;
  width: 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--bar-background);
  gap: 2rem;
  /* border: 1px solid rgba(96, 96, 96, 0.452); */
  border-radius: 50px;
  margin: 1.2rem;
  /* margin:0 25px 0 15px; */
  position: relative;

  /* souze - change */
  padding: 4rem 0;
  justify-content: space-around;
}

.nav-elements-a {
  display: block;
  width: 100%;
  text-decoration: none;
  /* background-color: rgb(200, 81, 81);  */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* position: relative; */
  /* color: #ffffff70; */
}

.nav-elements {
  /* position: relative; */
  height: 3rem;
  width: 3rem;
  /* background-color: rgb(32, 177, 102); */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
}

.nav-element-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  /* background-color: #1990a5; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.active2 {
  color: #fff;
  background-color: #000;
  transition: background-color 0.2s;
  svg {
    color: #000;
  }

  /* position: relative; */
}

/* Was */
/* .active2::after {
  content: "";
  background-color: red;
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
  top: var(--top);
  transition: top 0.4s ease-in;
} */

/* Current  */
.nav-elements-a:nth-child(1)::after {
  content: "";
  background-color: rgb(255, 255, 255);
  height: 3rem;
  width: 3rem;
  position: absolute;
  border-radius: 50%;
  top: var(--top);
  transition: top 0.2s ease-in;
}

.nav-element-logo svg {
  aspect-ratio: 1;
  width: 24px;
  z-index: 100;
}

/* .nav-element-logo:hover {
  color: #ffffff;
} */
