.nav-bar {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-bar A {
    display: block;
    width: 65%;
    text-decoration: none; 
}

.nav-elements {
    position: relative;
    height: 3rem;
    width: 3rem ;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-element-logo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #46c27e;
    position: absolute;
    left: 0;
}