.button-component{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8d8d8d5d;
    background-color: #21212155;
    border-radius: 5px;
    &:hover{
        background-color: #2121219c;
    }
}