.button-component{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    outline: none;
    &:hover{
        background-color: #000000;
        color: #fff;
        outline: #b7b7b7 2px solid;
    }
}