#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* overflow-y: hidden; */
}

.childrens-container {
    /* background-color: aqua; */
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.nav-conatainer {
    /* border-right: 1px solid #a1a1a19b; */
    border-radius: 0 1vw 1vw 0;
    position: relative;
    height: 100vh;
    width: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 0.5s ease;
    /* background-color: hotpink; */
    /* padding: 1rem; */
}

