@font-face {
  font-family: "GeistMono";
  src: url(./assets/Fonts/GeistMono.ttf);
}
:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: GeistMono;
  font-weight: 200;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: .2rem;
  font-weight: 100;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
