@font-face {
  font-family: "GeistMono";
  src: url(./assets/Fonts/Geist.woff2);
}
:root {

  color-scheme: light dark;
  color: #ffffff;
  background-color: #000000;
  --bar-background: #18181b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: GeistMono;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  line-height: 1.5;
}

h1 {
  font-size: 3.2em;
  letter-spacing: .2rem;
  font-weight: 500;

}

a,a:visited,a:hover,a:focus,a:active{
  color: #fff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
