.hostname-container {
  flex: 1;
  /* border: 1px solid #6d6d6d6b; */
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 0 0;
  /* overflow-y: scroll; */
  align-items: center;
  justify-content: start;
  /* background-color: rgb(57, 219, 108); */
  overflow-y: scroll;
  scrollbar-width: none;
}

.hostname-heading{
  /* background-color: red; */
  margin-top: 40px;
  width: 90%;
}

#ip-add-btn {
  position: absolute;
  right: calc(40px + 1.9rem);
  top: calc(40px + 0.9rem);
  
}
