.hostname-container {
  flex: 1;
  /* border: 1px solid #6d6d6d6b; */
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* overflow-y: scroll; */
  align-items: center;
  justify-content: start;
  /* background-color: rgb(57, 219, 108); */
  /* border: 1px solid purple; */
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}
.hostname-container::before{
  content: "";
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(126, 126, 126);
  z-index: 100; 
  min-height: 4px;

}


.hostname-heading{
  /* background-color: red; */
  width: 90%;
  margin: 40px 0 2rem 0;
}

#ip-add-btn {
  position: absolute;
  right: calc(40px + 1.9rem);
  top: calc(40px + 0.9rem);
  
}
