.Bar-Container {
  height: 3.6rem;
  width: 100%;
  /* border: 1px solid #8d8d8d5d; */
  border-radius: 5px;
  background-color:var(--bar-background);
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  &:hover {
    border-color: #8d8d8d6d;
  }
}

.ip-name {
  height: inherit;
  width: 15rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
  input {
    width: 100%;
    font-size: 1.5rem;
   /* background-color: greenyellow; */
    text-align: right;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 2px;
    /* padding-left: 10px; */

    &:focus {
      border: 1px solid #ffffff57;
      border-radius: 5px;
    }
    &:invalid {
      /* border: 1px solid #ff000099; */
      color: red;
    }
  }
}
.hostnames {
  width: 60%;
  height: 95%;
  /* background-color: #2c974e; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  /* border-radius: 5px; */
  font-size: 0.8rem;
  overflow: scroll;
  scrollbar-width: none;
}
.hostname-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  white-space: no-wrap;
}

.hostname-list li {
  padding: 10px;
  /* border: 1px solid #8d8d8d5d; */
  border-radius: 5px;
  background-color: #000000;
  margin: 0 5px 0 5px;
  
  
}

.hostname-list li span {
  display: block;
  transition: all ease 1s;
    font-size: 1rem;
    white-space: nowrap;
  }

.hostname-input {
  border: none;
  outline: none;
  padding: 0.5rem;
  background: transparent;
}
.temp-hostname-input {
  border: none;
  outline: none;
  /* background: transparent; */
}

.add-hostname {
  margin: 1rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
}

.hostname-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-hostname-btn {
  margin-left: 5px;
  display: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  border-radius: 50%;
}

.hostname-item:hover .delete-hostname-btn {
  display: inline-block;
}

.delete-hostbar-btn {
  padding: 0.5rem;
  border: none;
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.349);
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  position: absolute;
  right: 0.75rem;
}

.delete-hostbar-btn:hover {
  background-color: red;
  color: white;
}
